In [1]:
import pandas as pd

In [4]:
df_main_Sheet=pd.read_csv("C:\\Users\\Sooraj\\Downloads\\Product Sheet - Main Sheet.csv")
df_name_sheet=pd.read_csv("C:\\Users\\Sooraj\\Downloads\\Product Sheet - Product Name.csv")

  Product Code     Name
0    Product A  Synthol
1    Product B  Menthol
2    Product C   Dettol
3    Product D  Ethanol
4    Product E   Pronol

In [10]:
df_merged=pd.merge(
    left=df_main_Sheet,
    right=df_name_sheet,
    how='left',
    on=['Product Code']
)
df_merged=df_merged.drop(['Name_x'],axis=1)

In [ ]:
#productF, year=2023
df_merged["year_from_date"]=pd.to_datetime(df_merged['Date']).dt.year
df_merged.loc[df_merged['Product Code']=='Product F']

    Product ID Product Code  Price ($)        Date  Name_y  year_from_date
4          105    Product F        590   12/1/2023  Phenol            2023
6          107    Product F        491   12/1/2023  Phenol            2023
9          110    Product F        233   12/1/2023  Phenol            2023
15         116    Product F        779   12/1/2023  Phenol            2023
18         119    Product F        763   12/1/2023  Phenol            2023
20         121    Product F        773  11/29/2023  Phenol            2023
24         125    Product F        826  11/25/2023  Phenol            2023
28         129    Product F        155  11/21/2023  Phenol            2023
30         131    Product F        224  11/19/2023  Phenol            2023
94         195    Product F        922   12/6/2023  Phenol            2023