In [4]:
import pandas as pd

In [20]:
orders_df= pd.read_csv('orders.csv',header=0)
orders_df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,region,product_id,category,sales,quantity,profit
0,CA-2020-152156,08-11-2020,11-11-2020,Second Class,CG-12520,South,FUR-BO-10001798,Furniture,262.0,2,41.9
1,CA-2020-152156,08-11-2020,11-11-2020,Second Class,CG-12520,South,FUR-CH-10000454,Furniture,731.9,3,219.6
2,CA-2020-138688,12-06-2020,16-06-2020,Second Class,DV-13045,West,OFF-LA-10000240,Office Supplies,14.6,2,6.9
3,US-2019-108966,11-10-2019,18-10-2019,Standard Class,SO-20335,South,FUR-TA-10000577,Furniture,957.6,5,-383.0
4,US-2019-108966,11-10-2019,18-10-2019,Standard Class,SO-20335,South,OFF-ST-10000760,Office Supplies,22.4,2,2.5

In [22]:
#check dataTypes
print(orders_df.dtypes)

#check datatype and nullCount
print('\n')
print(f'='*60)
print(orders_df.info())

#Summary of dataSet
print('\n')
print(f'='*60)
print(orders_df.describe())

#All Columns in the dataSet
print('\n')
print(f'='*60)
print(f'Columns: {orders_df.columns}')

order_id        object
order_date      object
ship_date       object
ship_mode       object
customer_id     object
region          object
product_id      object
category        object
sales          float64
quantity         int64
profit         float64
dtype: object


============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     50 non-null     object
 1   order_date   50 non-null     object
 2   ship_date    50 non-null     object
 3   ship_mode    50 non-null     object
 4   customer_id  50 non-null     object
 5   region       50 non-null     object
 6   product_id   50 non-null     object
 7   category     50 non-null     object
 8   sales        50 non-null     float64
 9   quantity     50 non-null     int64
 10  profit       50 non-null     float64
dtypes: float64(2), int64(1), object(8)
memory usage: 4.4+ KB
None


============================================================
             sales   quantity       profit
count    50.000000  50.000000    50.000000
mean    300.792000   3.920000   -20.550000
std     547.564035   1.977836   251.767027
min       2.500000   2.000000 -1665.100000
25%      20.075000   2.000000     2.500000
50%      74.650000   3.000000     8.350000
75%     249.875000   5.000000    17.650000
max    3083.400000   9.000000   240.300000


============================================================
Columns: Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'region', 'product_id', 'category', 'sales', 'quantity', 'profit'],
      dtype='object')

In [ ]:
'''
iloc[row_index,col_index]: uses index
loc[row_value,col_names] '''

#get rows fom 3 to 6
# orders_df.iloc[3:7]

#get rows with index 2,4,6
# orders_df.loc[[2,4,6]]

#get rows with even index
# orders_df.iloc[[i for i in range(0,len(orders_df)) if i%2==0]]

#get even rows and first 3 columns
orders_df.iloc[[i for i in range(0,len(orders_df)) if i%2==0],[0,1,2]]

          order_id  order_date   ship_date
0   CA-2020-152156  08-11-2020  11-11-2020
2   CA-2020-138688  12-06-2020  16-06-2020
4   US-2019-108966  11-10-2019  18-10-2019
6   CA-2018-115812  09-06-2018  14-06-2018
8   CA-2018-115812  09-06-2018  14-06-2018
10  CA-2018-115812  09-06-2018  14-06-2018
12  CA-2021-114412  15-04-2021  20-04-2021
14  US-2019-118983  22-11-2019  26-11-2019
16  CA-2018-105893  11-11-2018  18-11-2018
18  CA-2018-143336  27-08-2018  01-09-2018
20  CA-2018-143336  27-08-2018  01-09-2018
22  CA-2020-137330  09-12-2020  13-12-2020
24  CA-2019-106320  25-09-2019  30-09-2019
26  CA-2020-121755  16-01-2020  20-01-2020
28  US-2019-150630  17-09-2019  21-09-2019
30  US-2019-150630  17-09-2019  21-09-2019
32  US-2019-150630  17-09-2019  21-09-2019
34  CA-2021-107727  19-10-2021  23-10-2021
36  CA-2020-117590  08-12-2020  10-12-2020
38  CA-2019-117415  27-12-2019  31-12-2019
40  CA-2019-117415  27-12-2019  31-12-2019
42  CA-2020-101343  17-07-2020  22-07-2020
44  CA-2020-118255  11-03-2020  13-03-2020
46  CA-2018-146703  20-10-2018  25-10-2018
48  CA-2020-169194  20-06-2020  25-06-2020

In [38]:
'''
df.apply():  is used to apply a function along an axis of a DataFrame. 
                axis=1(applies function to each row)
                axis=0(applies function to each col)
'''
# orders_df[orders_df['profit']>0]
orders_df['Profit_flag']= orders_df['profit'].apply(lambda x: 'Yes' if x>0 else 'No' )
orders_df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,region,product_id,category,sales,quantity,profit,Profit_flag
0,CA-2020-152156,08-11-2020,11-11-2020,Second Class,CG-12520,South,FUR-BO-10001798,Furniture,262.0,2,41.9,Yes
1,CA-2020-152156,08-11-2020,11-11-2020,Second Class,CG-12520,South,FUR-CH-10000454,Furniture,731.9,3,219.6,Yes
2,CA-2020-138688,12-06-2020,16-06-2020,Second Class,DV-13045,West,OFF-LA-10000240,Office Supplies,14.6,2,6.9,Yes
3,US-2019-108966,11-10-2019,18-10-2019,Standard Class,SO-20335,South,FUR-TA-10000577,Furniture,957.6,5,-383.0,No
4,US-2019-108966,11-10-2019,18-10-2019,Standard Class,SO-20335,South,OFF-ST-10000760,Office Supplies,22.4,2,2.5,Yes

In [42]:
#create a new column for profit categorization
def profit_categorization(profit:float)->str:
    if profit < 0:
        return 'Loss'
    elif profit < 50:
        return 'Low Profit'
    elif profit >= 50:
        return 'High Profit'
orders_df['Profit Bin']=orders_df['profit'].apply(profit_categorization)

orders_df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,region,product_id,category,sales,quantity,profit,Profit_flag,Profit Bin
0,CA-2020-152156,08-11-2020,11-11-2020,Second Class,CG-12520,South,FUR-BO-10001798,Furniture,262.0,2,41.9,Yes,Low Profit
1,CA-2020-152156,08-11-2020,11-11-2020,Second Class,CG-12520,South,FUR-CH-10000454,Furniture,731.9,3,219.6,Yes,High Profit
2,CA-2020-138688,12-06-2020,16-06-2020,Second Class,DV-13045,West,OFF-LA-10000240,Office Supplies,14.6,2,6.9,Yes,Low Profit
3,US-2019-108966,11-10-2019,18-10-2019,Standard Class,SO-20335,South,FUR-TA-10000577,Furniture,957.6,5,-383.0,No,Loss
4,US-2019-108966,11-10-2019,18-10-2019,Standard Class,SO-20335,South,OFF-ST-10000760,Office Supplies,22.4,2,2.5,Yes,Low Profit

In [50]:
#change datatype of order_date
orders_df['order_date'] = pd.to_datetime(orders_df['order_date'], 
                                         format="dd-mm-yyyy")
orders_df.dtypes

order_id               object
order_date     datetime64[ns]
ship_date              object
ship_mode              object
customer_id            object
region                 object
product_id             object
category               object
sales                 float64
quantity                int64
profit                float64
Profit_flag            object
Profit Bin             object
dtype: object

In [ ]:
#aggregate a dataFrame
# orders_df.groupby('col_for_groupby')['col_for_aggregation'].agg(['sum', 'mean', 'count'])